@*@model IEnumerable<Bug_Tracker.Models.Project>*@
@model Bug_Tracker.ViewModel.ProjectsViewModel

@using Bug_Tracker.Helpers

@{
    ViewBag.Title = "Projects";
}

<div class="page-inner">

    <div class="card-body">
        <h2>@ViewBag.Title</h2>
        <br />

        @if (User.IsInRole("ProjectManager") || User.IsInRole("Admin"))
        {
            <div class="col-md-12 col-lg-12">
                <div class="card mg-b-20">
                    <div class="card-header">
                        <h4 class="card-header-title">
                            All Projects
                        </h4>
                        <div class="card-header-btn">
                            <a href="#" data-toggle="collapse" class="btn card-collapse" data-target="#collapse3" aria-expanded="true"><i class="ion-ios-arrow-down"></i></a>
                        </div>
                    </div>
                    <div class="card-body collapse show" id="collapse5">
                        <table id="hoverTable" class="table hover responsive nowrap">
                            <thead>
                                <tr>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Description
                                    </th>
                                    <th>
                                        Project Manager
                                    </th>
                                    <th>
                                        Created
                                    </th>
                                    <th>
                                        Updated
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                                <tbody>
                            @foreach (var item in Model.AllProjects)
                            {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Description)
                                        </td>
                                        <td>
                                            @if (item.ProjectManagerId != null)
                                            {

                                                @HistoriesDisplayHelper.DisplayData(item.ProjectManagerId)
                                            }
                                            else
                                            {
                                                <span>Unassigned</span>
                                            }
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Created)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Updated)
                                        </td>
                                        <td>
                                            @Html.ActionLink("Manage Members", "ManageProjectLevelUsers", new { id = item.Id }) |
                                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                            @Html.ActionLink("Details", "Details", new { id = item.Id })
                                        </td>
                                    </tr>
                            }
                                </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="5">
                                        <div class="ft-right">
                                            <ul class="pagination"></ul>
                                        </div>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>

        }

        @if (User.IsInRole("ProjectManager") || User.IsInRole("Admin"))
        {
            <div class="col-md-12 col-lg-12">
                <div class="card mg-b-20">
                    <div class="card-header">
                        <h4 class="card-header-title">
                            Your Projects
                        </h4>
                        <div class="card-header-btn">
                            <a href="#" data-toggle="collapse" class="btn card-collapse" data-target="#collapse3" aria-expanded="true"><i class="ion-ios-arrow-down"></i></a>
                            <a href="#" data-toggle="refresh" class="btn card-refresh"><i class="ion-android-refresh"></i></a>
                            <a href="#" data-toggle="expand" class="btn card-expand"><i class="ion-android-expand"></i></a>
                            <a href="#" data-toggle="remove" class="btn card-remove"><i class="ion-android-close"></i></a>
                        </div>
                    </div>
                    <div class="card-body collapse show" id="collapse3">
                        <div class="row">
                            <div class="mg-20 form-inline wd-100p">
                                <div class="col-sm-6">
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group ft-right">
                                        <input id="foo-search" type="text" placeholder="Search" class="form-control" autocomplete="off">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <table id="foo-filtering" class="table table-bordered table-hover toggle-circle" data-page-size="7">
                            <thead>
                                <tr>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Description
                                    </th>
                                    <th>
                                        Project Manager
                                    </th>
                                    <th>
                                        Created
                                    </th>
                                    <th>
                                        Updated
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                                <tbody>
                            @foreach (var item in Model.MyProjects)
                            {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Description)
                                        </td>
                                        <td>
                                            @if (item.ProjectManagerId != null)
                                            {

                                                @HistoriesDisplayHelper.DisplayData(item.ProjectManagerId)
                                            }
                                            else
                                            {
                                                <span>Unassigned</span>
                                            }
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Created)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Updated)
                                        </td>
                                        <td>
                                            @Html.ActionLink("Manage Members", "ManageProjectLevelUsers", new { id = item.Id }) |
                                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                            @Html.ActionLink("Details", "Details", new { id = item.Id })

                                        </td>
                                    </tr>
                            }
                                </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="5">
                                        <div class="ft-right">
                                            <ul class="pagination"></ul>
                                        </div>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>


            <div class="col-md-12 col-lg-12">
                <p>
                    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
                </p>
            </div>
        }

        @if (User.IsInRole("Developer"))
        {

            <div class="col-md-12 col-lg-12">
                <div class="card mg-b-20">
                    <div class="card-header">
                        <h4 class="card-header-title">
                            Your Projects
                        </h4>
                        <div class="card-header-btn">
                            <a href="#" data-toggle="collapse" class="btn card-collapse" data-target="#collapse3" aria-expanded="true"><i class="ion-ios-arrow-down"></i></a>
                        </div>
                    </div>
                    <div class="card-body collapse show" id="collapse3">
                        <table id="foo-filtering" class="table table-bordered table-hover toggle-circle" data-page-size="7">
                            <thead>
                                <tr>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Description
                                    </th>
                                    <th>
                                        Project Manager
                                    </th>
                                    <th>
                                        Created
                                    </th>
                                    <th>
                                        Updated
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var item in Model.MyProjects)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Description)
                                        </td>
                                        <td>
                                            @if (item.ProjectManagerId != null)
                                            {

                                            @HistoriesDisplayHelper.DisplayData(item.ProjectManagerId)
                                            }
                                            else
                                            {
                                            <span>Unassigned</span> 
                                            }
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Created)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Updated)
                                        </td>
                                        <td>
                                            @Html.ActionLink("Details", "Details", new { id = item.Id })
                                        </td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>

        }

        @if (User.IsInRole("Submitter"))
        {

            <div class="col-md-12 col-lg-12">
                <div class="card mg-b-20">
                    <div class="card-header">
                        <h4 class="card-header-title">
                            Your Projects
                        </h4>
                        <div class="card-header-btn">
                            <a href="#" data-toggle="collapse" class="btn card-collapse" data-target="#collapse3" aria-expanded="true"><i class="ion-ios-arrow-down"></i></a>
                        </div>
                    </div>
                    <div class="card-body collapse show" id="collapse3">
                        <table id="foo-filtering" class="table table-bordered table-hover toggle-circle" data-page-size="7">
                            <thead>
                                <tr>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Description
                                    </th>
                                    <th>
                                        Project Manager
                                    </th>
                                    <th>
                                        Created
                                    </th>
                                    <th>
                                        Updated
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var item in Model.MyProjects)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Description)
                                        </td>
                                        <td>
                                            @if (item.ProjectManagerId != null)
                                            {

                                                @HistoriesDisplayHelper.DisplayData(item.ProjectManagerId)
                                            }
                                            else
                                            {
                                                <span>Unassigned</span>
                                            }
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Created)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Updated)
                                        </td>
                                        <td>
                                            @Html.ActionLink("Details", "Details", new { id = item.Id })
                                        </td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>

        }

    </div>
</div>

