@using Microsoft.AspNet.Identity

<!DOCTYPE html>
<html>
<head>

    <!-- The above 6 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keyword" content="">
    <meta name="author" content="" />
    <!-- Page Title -->
    <title>Bug Tracker | By Katie Rosario</title>
    <!-- Main CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/flag-icon.css" rel="stylesheet" />
    <link href="~/Content/simple-line-icons.css" rel="stylesheet" />
    <link href="~/Content/ionicons.css" rel="stylesheet" />
    <link href="~/Content/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/dataTables.jqueryui.min.css" rel="stylesheet" />
    <link href="~/Content/toastr.min.css" rel="stylesheet" />
    <link href="~/Content/chartist.css" rel="stylesheet" />
    <link href="~/Content/apexcharts.css" rel="stylesheet" />
    <link href="~/Content/footable.core.css" rel="stylesheet" />
    <link href="~/Content/dropify.min.css" rel="stylesheet" />
    <link href="~/Content/morris.min.css" rel="stylesheet" />
    <link href="~/Content/app.min.css" rel="stylesheet" />
    <link href="~/Content/style.min.css" rel="stylesheet" />
    @*<link href="~/Content/style.css" rel="stylesheet" />*@
    <link href="~/Content/Katie.css" rel="stylesheet" />

    @*JQuery DataTables*@
    <link href="~/Content/datatables.min.css" rel="stylesheet" />

    <!-- Favicon -->

    <link rel="icon" href="~/Images/small_bug_logo.png" type="image/x-icon">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->


</head>
<body>
    <!--================================-->
    <!-- Page Sidebar Start -->
    <!--================================-->

    <div class="page-sidebar">
        <div class="logo">
            <a class="logo-img" href="index.html">
                <img class="desktop-logo" src="~/Images/bug_tracker_logo.png" alt="">
                <img class="small-logo" src="~/Images/small_bug72px.png" alt="">
            </a>
            <i class="ion-ios-close-empty" id="sidebar-toggle-button-close"></i>
        </div>
        <!--================================-->
        <!-- Sidebar Menu Start -->
        <!--================================-->
        <div class="page-sidebar-inner">
            <div class="page-sidebar-menu">
                <ul class="accordion-menu">
                    <li class="open">
                        <a href="@Url.Action("Dashboard", "Home")" class="page-sidebar-menu">
                            <i class="fas fa-tachometer-alt"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>

                    <li>
                        <hr />
                        <a href="@Url.Action("Index", "Projects")" class="page-sidebar-menu">
                            <i class="fas fa-tasks"></i>
                            <span>Projects</span>
                        </a>
                    </li>

                    <li>
                        <hr />
                        <a href="@Url.Action("Index", "Tickets")" class="page-sidebar-menu">
                            <i class="fas fa-ticket-alt"></i>
                            <span>Tickets</span>
                        </a>
                    </li>

                    @if (User.IsInRole("Admin"))
                    {
                        <li>
                            <hr />
                            <a href="@Url.Action("ManageRoles", "Admin")" class="page-sidebar-menu">
                                <i class="fas fa-users-cog"></i>
                                <span>Manage Roles</span>
                            </a>
                        </li>
                    }

                    @if (User.IsInRole("ProjectManager") || User.IsInRole("Admin"))
                    {
                        <li>
                            <hr />
                            <a href="@Url.Action("ManageProjectAssignments", "Projects")" class="page-sidebar-menu">
                                <i class="fas fa-project-diagram"></i>
                                <span>Assign Projects</span>
                            </a>
                        </li>

                    }


                @if (User.IsInRole("Submitter"))
                {
                <li>
                    <div class="center">
                        <hr />
                        @Html.ActionLink("Create New Ticket", "Create", "Tickets", null, new { @class = "btn-primary" })
                    </div>
                </li>
                }
                </ul>

            </div>
        </div>
        <!--/ Sidebar Menu End -->
        <!--================================-->
        <!-- Sidebar Footer Start -->
        <!--================================-->
        <div class="sidebar-footer">
            <a class="pull-left" href="@Url.Action("CustomLogOff", "Account")" data-toggle="tooltip" data-placement="top" data-original-title="Sign Out">
                <i data-feather="log-out" class="ht-15"></i>
            </a>
        </div>
        <!--/ Sidebar Footer End -->
    </div>
    <!--/ Page Sidebar End -->
    <!--================================-->
    <!-- Page Content Start -->
    <!--================================-->


    <div class="page-content">

        @Html.Action("_TopNav", "Home")

        @RenderBody()


        <!-- Page Footer Start -->
        <!--================================-->
        <footer class="page-footer">
            <div class="pd-t-4 pd-b-0 pd-x-20">
                <div class="tx-10 tx-uppercase">
                    <p class="pd-y-10 mb-0">Copyright&copy; 2020 | All rights reserved. | Created By <a href="//katierosarioportfolio.azurewebsites.net" target="_blank">Katie Rosario</a></p>
                </div>
            </div>
        </footer>
        <!--/ Page Footer End -->
    </div>
    <!--/ Page Content End -->
    <!--/ Page Container End -->
    <!--================================-->
    <!-- Scroll To Top Start-->
    <!--================================-->
    <a href="" data-click="scroll-top" class="btn-scroll-top fade"><i class="fas fa-arrow-up"></i></a>
    <!--/ Scroll To Top End -->
    <!--================================-->
    <!--================================-->
    <!-- Footer Script -->
    <!--================================-->
    @*<script src="~/Scripts/jquery.min.js"></script>*@
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery-ui.js"></script>
    <script src="~/Scripts/popper.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/pace.min.js"></script>
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/dataTables.responsive.js"></script>
    <script src="~/Scripts/dataTables.jqueryui.min.js"></script>
    <script src="~/Scripts/morris.min.js"></script>
    <script src="~/Scripts/raphael.min.js"></script>
    <script src="~/Scripts/dropify.min.js"></script>
    <script src="~/Scripts/dropzone.js"></script>
    <script src="~/Scripts/toastr.min.js"></script>
    <script src="~/Scripts/counterup.min.js"></script>
    <script src="~/Scripts/waypoints.min.js"></script>
    <script src="~/Scripts/apex-sample.js"></script>
    <script src="~/Scripts/chartjs.js"></script>
    <script src="~/Scripts/apexcharts.min.js"></script>
    <script src="~/Scripts/irregular-data-series.js"></script>
    <script src="~/Scripts/footable.all.min.js"></script>
    <script src="~/Scripts/jquery.simpler-sidebar.min.js"></script>
    <script src="~/Scripts/jquery.slimscroll.min.js"></script>
    <script src="~/Scripts/highlight.min.js"></script>
    <script src="~/Scripts/app.js"></script>
    <script src="~/Scripts/custom.js"></script>
    <script src="//kit.fontawesome.com/234afa4acd.js" crossorigin="anonymous"></script>
    <script src="~/Scripts/feather.min.js"></script>
    <script src="~/Scripts/datatables.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@9"></script>

    <script>

        $('.dropify').dropify({
            messages: {
                'default': 'Drag and drop or click to choose from your computer.',
                'replace': 'Drag and drop or click to replace.',
                'remove': 'Remove',
                'error': 'Ooops! Something went wrong.'
            }
        });

        $('.table').DataTable();

        // Row Toggler
        $('#foo-row-toggler').footable();

        // Accordion
        $('#foo-accordion').footable().on('footable_row_expanded', function (e) {
            $('#foo-accordion tbody tr.footable-detail-show').not(e.row).each(function () {
                $('#foo-accordion').data('footable').toggleDetail(this);
            });
        });
        // Filtering
        var filtering = $('#foo-filtering');
        filtering.footable().on('footable_filtering', function (e) {
            var selected = $('#foo-filter-status').find(':selected').val();
            e.filter += (e.filter && e.filter.length > 0) ? ' ' + selected : selected;
            e.clear = !e.filter;
        });

        // Filter status
        $('#foo-filter-status').change(function (e) {
            e.preventDefault();
            filtering.trigger('footable_filter', { filter: $(this).val() });
        });

        // Search input
        $('#foo-search').on('input', function (e) {
            e.preventDefault();
            filtering.trigger('footable_filter', { filter: $(this).val() });
        });

        // Compact DataTable
        $('#compactTable').DataTable({
            responsive: true,
            language: {
                searchPlaceholder: 'Search...',
                sSearch: ''
            }
        });

        // Hoverable DataTable
        $('#hoverTable').DataTable({
            responsive: true,
            language: {
                searchPlaceholder: 'Search...',
                sSearch: ''
            }
        });

        // Hoverable DataTable
        $('#orderActiveTable').DataTable({
            responsive: true,
            language: {
                searchPlaceholder: 'Search...',
                sSearch: ''
            },
            "order": [[1, "desc"]]
        });

        // Scrollable Table DataTable
        $('#scrollableTable').DataTable({
            responsive: true,
            language: {
                searchPlaceholder: 'Search...',
                sSearch: ''
            },
            "order": [[1, "desc"]],
            "scrollY": "250px",
            "scrollCollapse": true,
            "paging": false
        });

    </script>

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@9"></script>

    @RenderSection("Scripts", required: false)

</body>
</html>


