@{ Layout = null; }

@using Bug_Tracker.Models

@model ExtendedRegisterViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- The above 6 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keyword" content="">
    <meta name="author" content="" />
    <!-- Page Title -->
    <title>Sign Up | Katie Rosario Bug Tracker</title>

    <!-- Main CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/simple-line-icons.css" rel="stylesheet" />
    <link href="~/Content/ionicons.css" rel="stylesheet" />
    <link href="~/Content/app.min.css" rel="stylesheet" />
    <link href="~/Content/style.min.css" rel="stylesheet" />

    <!-- Favicon -->
    <link rel="icon" href="assets/images/favicon.ico" type="image/x-icon">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn"t work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="http://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="http://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <!--================================-->
    <!-- User Singup Start -->
    <!--================================-->
    <div class="ht-100v d-flex">
        <div class="card shadow-none pd-20 mx-auto wd-400 text-center bd-1 align-self-center">
            <h4 class="card-title mt-3 text-center">Create Account</h4>
            <p class="text-center">Get started with your free account</p>
            <p>
                <a href="" class="btn btn-block btn-google tx-13 hover-white"> <i class="fa fa-google"></i>   Login via Google</a>
                <a href="" class="btn btn-block btn-facebook tx-13 hover-white"> <i class="fa fa-facebook-f"></i>   Login via facebook</a>
            </p>
            <p class="divider-text">
                <span class="bg-light">OR</span>
            </p>

            @using (Html.BeginForm("Register", "Account", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="form-group input-group">
                    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                    @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", placeholder = "First Name", type = "text" } })
                </div>

                <div class="form-group input-group">
                    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                    @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control", placeholder = "Last Name", type = "text" } })
                </div>

                <div class="form-group input-group">
                    <span class="input-group-text"> <i class="fa fa-user-circle-o"></i> </span>
                    @Html.EditorFor(model => model.DisplayName, new { htmlAttributes = new { @class = "form-control", placeholder = "Display Name", type = "text" } })
                </div>

                <div class="form-group input-group">
                    <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "Email", type = "email" } })
                </div>

                @*<div class="form-group input-group">
                <div class="input-group-prepend">
                    @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control-sm" } })
                    <span class="input-group-text pd-x-9"> <i class="fa fa-building"></i> </span>
                </div>
                <select class="form-control form-control-sm">
                    <option selected=""> Select job type</option>
                    <option>Administrator</option>
                    <option>Project Manager</option>
                    <option>Developer</option>
                </select>
            </div>*@

                <div class="form-group input-group">
                    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", placeholder = "Create password", type = "password" } })
                </div>

                <div class="form-group input-group">
                    <span class="input-group-text"> <i class="fa fa-repeat"></i> </span>
                    @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", placeholder = "Confirm password", type = "password" } })
                </div>

                @*<div class="custom-control custom-checkbox mg-t-25" style="display: initial;">
                    <input type="checkbox" class="custom-control-input form-control-sm" id="customCheck1">
                    <label class="custom-control-label tx-12 tx-gray-500" for="customCheck1">I agree to this <a href="">Terms & Conditions</a></label>
                </div>
                <div class="custom-control custom-checkbox mg-b-10 pd-l-0">
                    <input type="checkbox" class="custom-control-input form-control-sm" id="customCheck2">
                    <label class="custom-control-label tx-12 tx-gray-500" for="customCheck2">I agree to this <a href="">Privacy & Policy</a></label>
                </div>*@
                <div class="form-group">
                    <button type="submit" class="btn btn-custom-primary btn-block tx-13"> Create Account </button>
                </div>
            }
            <p class="text-center">Already Signed Up? <a href="@Url.Action("Index", "Home")">Sign In</a> </p>

        </div>
    </div>
    <!--/ User Singup End -->
    <!--================================-->
    <!-- Footer Script -->
    <!--================================-->
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/jquery-ui.js"></script>
    <script src="~/Scripts/popper.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/pace.min.js"></script>
    <script src="~/Scripts/jquery.slimscroll.min.js"></script>
    <script src="~/Scripts/custom.js"></script>

</body>
</html>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
